<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="container">
      <p class="mb-4">home</p>
      <form action="/logout" method="get">
        <button class="btn btn-primary" type="submit">logout</button>
      </form>
    </div>
  </body>
</html>
