<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-5">My session example</h1>

      <a href="/login" class="btn btn-primary">login</a>
    </div>
  </body>
</html>
